<!-- templates/product_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
      <!-- Create a table to display the information -->
    <table border="1"> 
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <!-- for loop to display all the line in the db -->
            {% for product in products %}
            <tr>
                <th>{{ product.name }}</th>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Total Value: {{total_value}}</h2> <!-- Added total_value var -->
</body>
</html>
